body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: lightgrey;
  color: black;
  font-family: cursive;
  font-size: 16px;
}
h1, p {
  margin: 1em auto;
  text-align: center;
}

#titulo{
  margin-top: 4rem;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 2em;
}

fieldset {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type {
  border-bottom: none;
}

label {
  display: block;
  margin: 0.5rem;
}

input,textarea,select {
  margin: 1rem 0 0 0;
  width: 100%;
  min-height: 2em;
}

input, textarea {
  background-color: black;
  border: 1px solid black;
  color: #ffffff;
  border-radius: 1rem;
  font-size: 15px;
  padding-left: 1rem;
}

.inline {
  width: unset;
  margin: 0 0.5em 0 0;
  vertical-align: middle;
}

#enviar{
  display: block;
  width: 10rem;
  margin: 1em auto;
  height: 2em;
  font-size: 1.1rem;
  background-color: black;
  border-color: white;
  color: white;
  border-radius: 20px;
}



input[type="file"] {
  padding-top: 5px;
}

#age {
  width: 5rem;
}

a {
  color: red;
  text-decoration: none;
}

#age.input {
  width: 1rem;
}

button {
  margin-top: 1rem;
}