body{
    background-color: lightgray;
}
#nvr {
    background-color: rgb(94, 91, 91);
    font-family: cursive;
  
  }

  .card-body3{
    margin: 8%;
    font-family: cursive;
    
  
  }

  .info {
    display: block;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    font-family: cursive;
    background-color: rgb(117, 117, 117);
    color: whitesmoke;
  
  }