html {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body {
    margin: 0;
    background-color: lightgray;
}

header {
    background-color: darkseagreen;
    color: black;
    padding: 1.5rem 1rem;
}

header h1 {
    font-size: 2rem;
    text-align: center;
}

.container {
    width: 400px;
    margin: 0 auto;
}

section article {
    background-color: #fff;
    margin: 2rem auto;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
}

section article h2, section article p {
    margin: 1rem;
}

#main {
    background-color: darkseagreen;
    margin: 1rem 15px;
    border-radius: 0.5rem;
    padding: 1rem 5rem;
}

#submit {
    display: block;
    width: 25%;
    margin: 1em auto 2em;
    height: 2em;
    font-size: 1.1rem;
    background-color: rgb(145, 145, 145);
    border-color: black;
    min-width: 50px;
}

label, input {
    margin: 1rem auto 0.5rem;
    
}