@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

* {
    font-family: 'Skranji';
}

body {
    background-image: url(Fondo.png);;
    text-align: center;
}

.container {
    position: relative;
    margin: 0 auto;
    max-width: 680px;
    text-align: center;
    width: 68rem;
    height: 450px;
    background-color: white;
    margin: 7rem auto;
    border-radius: 1rem;
    padding: 1rem 3rem; 
}


.slide {
    flex: 1;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img {
    margin-top: 3rem;
    margin-left: 0.5rem;
    width: 350px;
    height: 350px;
    object-fit: contain;
}

h4 {
    font-size: 30px;
}

p {
    text-align: center;
    margin: auto 2rem;
    font-size: 20px;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: purple;
    float: left;
    margin: -24rem -1rem;

}

a {
    text-decoration: none;
}